<!doctype html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>MQTT Analyzer</title>

		<!-- Bootstrap core CSS -->
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/bootstrap-horizon.min.css" rel="stylesheet">

		<!-- Custom styles -->
		<link href="static/css/main.css" rel="stylesheet">
	</head>

	<body class="bg-dark h-100">
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<div class="col-md-2 title" href="#">MQTT Analyzer</div>
		<p class="filename title">filename.pcap</p>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="d-flex flex-row p-1">
				<div class="btn-group mr-2">
					<button type="button" class="btn btn-sm btn-outline-light mr-1 rounded" data-toggle="modal" data-target="#exampleModal">Open file</button>
					<button type="button" class="btn btn-sm btn-outline-danger rounded">Close session</button>
				</div>
			</div>
		</div>
	</nav>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form action="/upload" method="post" enctype="multipart/form-data">
				<div class="modal-content lg bg-dark">
					<div class="modal-header border-0">
						<h5 class="modal-title text-light" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body border-0">
						<div class="custom-file">
							<input type="file" name="file" class="form-control-file text-light" id="customFile">
						</div>
					</div>
					<div class="modal-footer border-0">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<input type="submit" name="submit" value="Upload" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="container-fluid bg-dark h-100">
		<div class="row h-100">
			<!-- Sidebar -->
			<nav class="col-md-2 d-none d-md-block bg-dark sidebar shadow">
				<div class="sidebar-sticky bg-dark shadow">
					<ul class="nav flex-column navbar-dark">
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>FILTER BY</span>
							<a class="d-flex align-items-center text-muted" href="#">
								<span data-feather="plus-circle"></span>
							</a>
						</h6>
						<li class="nav-item"><a href="#" class="nav-link text-light">Source</a></li>
						<li class="nav-item"><a href="#" class="nav-link text-light">Destination</a></li>
						<li class="nav-item"><a href="#" class="nav-link text-light">Package type</a></li>
						<li class="nav-item"><a href="#" class="nav-link text-light">Package content</a></li>
					</ul>
				</div>
			</nav>

			<!-- Content -->
			<div class="container-fluid">
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 d-done d-md-block">
					<br>
					<div class="d-flex flex-row">
						<input class="form-control" type="text" placeholder="Data search">
						<button type="button" class="btn btn-dark">Search</button>
					</div>
				</main>
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 d-done d-md-block h-50 overflow-auto">
					<div class="table-responsive">
						<table class="table table-striped table-dark table-borderless table-hover">
							<thead>
								<tr>
									<th>Time</th>
									<th>Source</th>
									<th>Destination</th>
									<th>Package type</th>
									<th>Length</th>
									<th>Info</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>25:68:61</td>
									<td>127.0.0.1</td>
									<td>94.103.83.68</td>
									<td>default</td>
									<td>68</td>
									<td>Data request</td>
								</tr>
								<tr>
									<td>31:12:76</td>
									<td>127.0.0.1</td>
									<td>94.103.83.68</td>
									<td>default</td>
									<td>72</td>
									<td>Data request</td>
								</tr>
								<tr>
									<td>27:59:13</td>
									<td>127.0.0.1</td>
									<td>94.103.83.68</td>
									<td>default</td>
									<td>60</td>
									<td>Data request</td>
								</tr>
							</tbody>
						</table>
					</div>
				</main>
				<div class="bg-light">
					
				</div>
			</div>
			
		</div>
	</div>
	<!-- Loading javascript -->
	<script src="static/js/jquery-3.4.1.slim.min.js"></script>
	<script src="static/js/popper.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</html>
