{{ define "index"}}

{{ template "header"}}

<div class="container bg-dark col-md-5 col-sd-6">
    <br class="my-5">
    <div class="jumbotron bg-dark text-light text-center shadow">
        <h1 class="display-4">MQTT traffic analyzer</h1>
        <p class="lead">Upload .pcap file or start sniffing to begin</p>
        <br>
        <a class="btn btn-outline-warning btn-lg m-1" href="#" role="button">Sniff traffic</a>
        <a class="btn btn-outline-success btn-lg m-1" href="#" role="button">Open .pcap file</a>
    </div>
</div>

{{ template "footer"}}

{{ end }}