{{ define "view"}}

{{ template "header"}}

<div class="container-fluid bg-dark h-100">
	<div class="row h-100">
		<!-- Sidebar -->
		<nav class="col-md-2 d-none d-md-block bg-dark sidebar shadow">
			<div class="sidebar-sticky bg-dark shadow">
				<ul class="nav flex-column navbar-dark">
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>FILTER BY</span>
						<a class="d-flex align-items-center text-muted" href="#">
							<span data-feather="plus-circle"></span>
						</a>
					</h6>
					<li class="nav-item d-flex flex-md-nowrap p-2">
						<input type="text" class="form-control" placeholder="Source">
						<button class="btn btn-dark">Accept</button>
					</li>
					<li class="nav-item d-flex flex-md-nowrap p-2">
						<input type="text" class="form-control" placeholder="Destination">
						<button class="btn btn-dark">Accept</button>
					</li>
					<li class="nav-item d-flex flex-md-nowrap p-2">
						<input type="text" class="form-control" placeholder="Package type">
						<button class="btn btn-dark">Accept</button>
					</li>
					<li class="nav-item d-flex flex-md-nowrap p-2">
						<input type="text" class="form-control" placeholder="Package content">
						<button class="btn btn-dark">Accept</button>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Packet list -->
		<div class="container-fluid">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 d-done d-md-block">
				<br>
				<div class="d-flex flex-row">
					<input class="form-control" type="text" placeholder="Data search">
					<button type="button" class="btn btn-dark">Search</button>
				</div>
			</main>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 d-done d-md-block h-50 overflow-auto">
				<div class="table-responsive">
					<table class="table table-striped table-dark table-borderless table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Time</th>
								<th>Source</th>
								<th>Destination</th>
								<th>Package type</th>
								<th>Info</th>
							</tr>
						</thead>
						<tbody id="packetsRoot">
							
						</tbody>
					</table>
				</div>
			</main>
			<!-- Packet info -->
			<main role="main" class="col-md-15 ml-sm-auto col-lg-10 px-12 d-done d-md-block">
				<div class="collapse pkg-info shadow-lg border p-4 text-light" id="collapse-info">
					<p class="display-4">Package info</p>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab maxime 
						facere nesciunt sed eligendi ducimus ratione nulla vel illum, 
						qui corporis pariatur unde reiciendis adipisci similique 
						praesentium repellendus quis? Tenetur?</p>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab maxime 
						facere nesciunt sed eligendi ducimus ratione nulla vel illum, 
						qui corporis pariatur unde reiciendis adipisci similique 
						praesentium repellendus quis? Tenetur?</p>
				</div>
			</main>
		</div>
	</div>
</div>

{{ template "footer"}}

{{ end }}
